/* p-table style changes */
.p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: rgb(13 110 253) !important;
}
.p-datatable .p-sortable-column.p-highlight {
    background: rgb(21 23 32 / 74%) !important;
    color: #0d6efd !important;
}
.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 1px #0d6efd !important;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #0d6efd !important;
}
.p-input-icon-right > i:last-of-type {
    color: rgb(13 110 253) !important;
}
.p-button.p-button-outlined{
    color: rgb(13 110 253) !important;
}
.p-button.p-button-outlined:enabled:hover{
    color: rgb(13 110 253) !important;
}
.p-button:focus {
    box-shadow: 0 0 0 1px #0d6efd !important;
}

/* anchor tag disable */
a.disabled {
    color: gray;
    cursor: not-allowed;
}
/* nav-bar button hover*/
nav-link:focus, .nav-link:hover {
    color: rgb(255 255 255);
}