<div class="container-fluid bg-primary">
  <nav class="col-12 navbar navbar-expand navbar-dark bg-primary justify-content-between py-2">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="/login">Students Info</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="col-12 navbar-nav flex-row-reverse me-auto mb-2 mb-lg-0">
          <li *ngIf="showActionIcon" class="nav-item">
            <a class="nav-link" href="/login">Logout</a>
          </li>
          <li *ngIf="showActionIcon" class="nav-item">
            <a class="nav-link" aria-current="page">Toggle</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row min-vh-100 flex-column flex-md-row bg-light">
    <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
      <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start px-3">
        <div class="collapse navbar-collapse ">
          <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
            <li class="nav-item">
              <a class="nav-link pl-0 text-nowrap" [class.active] = "showActionIcon" href="/students-info"><i class="fa fa-bullseye fa-fw"></i> <span
                  class="font-weight-bold">Students List</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </aside>
    <main class="col bg-faded py-3 flex-grow-1">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>